body{
    text-align:center;
    background-color: #000
}


h2,button, #time , #date{
    font-family: 'VT323', monospace;
    text-align: center;
    background-color:#000;
	color:#00cd00;

}
button{
    font-size:60px;
    border-color: #00cd00;
}
h2{
    font-size:70px;
}
		
button:hover{
  
    	color: #0a0909;
        background-color:#00cd00;
        border-color: #00cd00
                 
}
span{
    font-family: 'VT323', monospace;
    text-align: center;
    background-color:#000;
    color:#00cd00;
    font-size:60px;
}